<center><b>UNIVERSIDADE FEDERAL RURAL DO SEMI-ÁRIDO</b> </center>
<center><b>Inteligência Artificial</b></center>


<h3><center>Implementação de algoritmos de aprendizado de máquina para análise de
padrões em ações do mercado Financeiro</center></h3>


<div style="text-align: right;">Anderson Carlos da Silva Morais</div>
<div style="text-align: right;">Anderson Matheus Melo da Silva</div>



<center><b>Proposta</b></center>
<b>Introdução:</b> Nos últimos anos, temos presenciado a popularização e disseminação da inteligência
artificial e dos algoritmos de aprendizado de máquina em várias áreas. Um campo que tem se
beneficiado dessas tecnologias é o mercado financeiro, onde o uso desses algoritmos para análise de
ações tem se tornado uma prática comum. No entanto, é importante destacar que a promessa de
retornos financeiros milagrosos e a venda de produtos e softwares enganosos têm gerado
desconfiança nesse cenário.

<b>Objetivo:</b> O objetivo deste projeto é explorar o uso de algoritmos de aprendizado de máquina para
análise de padrões no mercado financeiro de forma ética e didática. O projeto busca fornecer um
ambiente de estudo no qual será possível entender e aplicar diferentes algoritmos de ML em um
contexto real, utilizando um conjunto de dados definido de ações.
Metodologia:
1. <b>Coleta de Dados:</b> Será realizado um levantamento de dados históricos de ações de
empresas, utilizando fontes confiáveis e de acesso público. Os dados incluirão informações
como preço de abertura, preço de fechamento, volume de negociação, entre outros
indicadores relevantes.
2. <b>Pré-processamento dos Dados:</b> Os dados coletados passarão por um processo de limpeza e
transformação, a fim de remover ruídos e garantir a qualidade dos dados. Serão aplicadas
técnicas de normalização e tratamento de valores ausentes, quando necessário.
3. <b>Exploração de Algoritmos de Aprendizado de Máquina:</b> Serão utilizados diferentes
algoritmos de aprendizado de máquina, como regressão linear, árvores de decisão, redes
neurais, entre outros, para analisar os dados coletados. Cada algoritmo será aplicado e
avaliado em termos de desempenho na identificação de padrões relevantes no mercado
financeiro.
4. <b>Avaliação e Interpretação dos Resultados:</b> Os resultados obtidos serão analisados e
interpretados de forma a identificar padrões e tendências no mercado financeiro. Serão
realizadas métricas de desempenho para avaliar a eficácia dos algoritmos utilizados. É
importante ressaltar que este projeto não tem como objetivo fornecer recomendações de
compra ou venda de ações, mas sim estudar os conceitos de ML em um contexto real.

<b>Justificativa:</b> Este projeto visa explorar o uso de algoritmos de aprendizado de máquina para análise
de padrões no mercado financeiro. A proposta é utilizar um conjunto de dados definido de ações
para aplicar diferentes algoritmos e entender seu desempenho na identificação de padrões
relevantes. Ao final do projeto, espera-se obter um maior entendimento sobre o uso de ML no
mercado financeiro, contribuindo para o avanço do conhecimento nessa área.

<b>Observação:</b> É importante ressaltar que este projeto destina-se apenas ao estudo e compreensão dos
conceitos de aprendizado de máquina em um contexto real. Não deve ser interpretado como
recomendação de compra ou venda de ações. Sempre consulte profissionais especializados antes de
tomar decisões financeiras.

# Etapa 1: Coleta de Dados

In [1]:
# Realizando as importações das bibliotecas necessárias
import pandas as pd # tratamento de dados
import numpy as np # tratamento de dados
import cfscrape # Requisição na raspagem de dados
from bs4 import BeautifulSoup as bs # Filtro e modificação na raspagem de dados
import unidecode # tratamento de Strings
import datetime # Exportar os dados com os tratamentos

A fonte de dados abordada para o projeto serão as disponíveis no site [Fundamentus](https://www.fundamentus.com.br/fii_resultado.php)

In [2]:
# Usando da biblioteca cfscrape para obter uma requisição do site escolhido

# cabeçalhos para acesso
headers ={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36"}

# url do site escolhido
url = "https://www.fundamentus.com.br/fii_resultado.php"

# ferramentas de scrap para obter a requisição
scraper = cfscrape.create_scraper()
response = scraper.get(url)

In [3]:
# Printando a resposta da requisição HTTP, caso 200 é que tudo deu certo
print(response)

<Response [200]>

In [4]:
## Resíduo de análise antigas, não excluir! ##
# Acessando o conteúdo HTML da resposta da requisição com formatação html esparço, mais fácil de se trabalhar
# soup = bs(response.content, "html.parser")

# Para visualizar o HTML do site basta tirar o ; do recurso abaixo
# soup.content

In [5]:
## Resíduo de análise antigas, não excluir! ##
# Filtrando o HTML para apenas a tabela de ações
# n = soup.find("table")

In [6]:
## Resíduo de análise antigas, não excluir! ##
# type(n)

In [7]:
# Lendo a tabela em HTML como um dataframe do Pandas

# O código gera uma lista de dataframes do código HTML, como o código já foi filtrado, só apresenta um dataframe,
# basta indicar o índice para acessá-lo diretamente, atribuindo a variável que representará o dataset
dt= pd.read_html(response.content)[0]
dt

## Maneira alternativa de acessar a lista de dataframes ##

# gerando a lista de dataframes
# dt= pd.read_html(response.content)
# Acessando o dataframe
# dt[0]

,Papel,Segmento,Cotação,FFO Yield,Dividend Yield,P/VP,Valor de Mercado,Liquidez,Qtd de imóveis,Preço do m2,Aluguel por m2,Cap Rate,Vacância Média
0,AAZQ11,Títulos e Val. Mob.,925,"4,68%","8,93%",96,222.345.000,885.621,0,000,000,"0,00%","0,00%"
1,ABCP11,Shoppings,7067,"17,44%","7,78%",77,332.791.000,65.341,1,"4.350,88","1.068,00","24,55%","3,90%"
2,AEFI11,Outros,17490,"8,03%","0,00%",121,411.893.000,0,7,"4.272,21",34717,"8,13%","0,00%"
3,AFCR11,NaN,10315,"18,21%","0,00%",99,186.437.000,0,0,000,000,"0,00%","0,00%"
4,AFHI11,Títulos e Val. Mob.,9793,"10,90%","13,46%",102,295.695.000,822.252,0,000,000,"0,00%","0,00%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,XTED11,Lajes Corporativas,882,"-0,45%","0,00%",62,44.228.400,0,1,"2.647,63",000,"0,00%","0,00%"
413,YCHY11,Híbrido,"1.000,00","1,25%","0,00%",998,3.708.170.000,0,10,"8.157,50",6574,"0,81%","0,00%"
414,YUFI11,Residencial,8001,"3,95%","4,84%",79,39.416.900,899,28,"8.707,28",88244,"10,13%","0,00%"
415,ZAVI11,Híbrido,12700,"5,77%","7,56%",93,117.668.000,147.708,8,"2.910,17",16312,"5,61%","1,10%"
416,ZIFI11,Híbrido,"1.000,00","-1,72%","0,00%",83,47.485.000,3.116,0,000,000,"0,00%","0,00%"

# Etapa 2: Pré-processamento dos Dados

Para evitar o tempo gasto na coleta de dados caso os dados sofram uma formatação errada, vamos trabalhar com uma cópia do dataset Original.

In [8]:
# Criando um cópia do dataset original para o tratamento de dados
dt_test = dt.copy()

In [9]:
# Avaliando os dados do Dataframe para identificar as limpezas necessárias
dt_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 417 entries, 0 to 416
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Papel             417 non-null    object
 1   Segmento          413 non-null    object
 2   Cotação           417 non-null    object
 3   FFO Yield         417 non-null    object
 4   Dividend Yield    417 non-null    object
 5   P/VP              417 non-null    int64
 6   Valor de Mercado  417 non-null    object
 7   Liquidez          417 non-null    object
 8   Qtd de imóveis    417 non-null    int64
 9   Preço do m2       417 non-null    object
 10  Aluguel por m2    417 non-null    object
 11  Cap Rate          417 non-null    object
 12  Vacância Média    417 non-null    object
dtypes: int64(2), object(11)
memory usage: 42.5+ KB

In [10]:
# Visualizando o nome das colunas
dt_test.columns

Index(['Papel', 'Segmento', 'Cotação', 'FFO Yield', 'Dividend Yield', 'P/VP',
       'Valor de Mercado', 'Liquidez', 'Qtd de imóveis', 'Preço do m2',
       'Aluguel por m2', 'Cap Rate', 'Vacância Média'],
      dtype='object')

**Obs:** As colunas possuem nomes com caracteres inválidos e que dificultam o trabalho, sendo necessário modifica-las

In [11]:
# Salvando os antigos nomes das colunas para um possível uso futuro
colunas_antigas = dt_test.columns

# Modificando os nomes das colunas para um padrão usual
colunas = []
for nome in dt_test.columns:
    text = nome.strip().replace(' ','_').lower().replace('/','_sobre_') # múltiplos tratamentos de strings
    text = unidecode.unidecode(text) # remove assentos 
    colunas.append(text)
    
colunas

['papel',
 'segmento',
 'cotacao',
 'ffo_yield',
 'dividend_yield',
 'p_sobre_vp',
 'valor_de_mercado',
 'liquidez',
 'qtd_de_imoveis',
 'preco_do_m2',
 'aluguel_por_m2',
 'cap_rate',
 'vacancia_media']

In [12]:
# Atribuindo os novos nomes as colunas
dt_test.columns = colunas

In [13]:
# Visualizando a modificação
dt_test.head(3)

,papel,segmento,cotacao,ffo_yield,dividend_yield,p_sobre_vp,valor_de_mercado,liquidez,qtd_de_imoveis,preco_do_m2,aluguel_por_m2,cap_rate,vacancia_media
0,AAZQ11,Títulos e Val. Mob.,925,"4,68%","8,93%",96,222.345.000,884.924,0,000,000,"0,00%","0,00%"
1,ABCP11,Shoppings,7033,"17,52%","7,81%",77,331.190.000,65.740,1,"4.329,94","1.068,00","24,67%","3,90%"
2,AEFI11,Outros,17490,"8,03%","0,00%",121,411.893.000,0,7,"4.272,21",34717,"8,13%","0,00%"

**Obs:** os dados numéricos estão separados por casas decimais, precisando de um tratamento para removê-las

In [14]:
# Removendo a pontuação dos dados no Dataset
# Os códigos a partir deste ponto devesse tomar cuidado para não rodar mais de uma vez, caso contrário gera um erro.
dt_test = dt_test.apply(lambda x: x.str.replace(".",'', regex=True) if x.dtype=="object" else x)

# Não funciona
# dt_test.replace(',','.', regex=True, inplace=True)

In [15]:
# Visualizando o dataset para verificar se o tratamento foi feito corretamente
# A coluna de cotacao irá precisar de um tratamento especial que será executado mais na frente
dt_test

,papel,segmento,cotacao,ffo_yield,dividend_yield,p_sobre_vp,valor_de_mercado,liquidez,qtd_de_imoveis,preco_do_m2,aluguel_por_m2,cap_rate,vacancia_media
0,AAZQ11,Títulos e Val Mob,925,"4,68%","8,93%",96,222345000,884924,0,000,000,"0,00%","0,00%"
1,ABCP11,Shoppings,7033,"17,52%","7,81%",77,331190000,65740,1,"4329,94","1068,00","24,67%","3,90%"
2,AEFI11,Outros,17490,"8,03%","0,00%",121,411893000,0,7,"4272,21",34717,"8,13%","0,00%"
3,AFCR11,NaN,10315,"18,21%","0,00%",99,186437000,0,0,000,000,"0,00%","0,00%"
4,AFHI11,Títulos e Val Mob,9801,"10,89%","13,45%",102,295937000,816764,0,000,000,"0,00%","0,00%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,XTED11,Lajes Corporativas,882,"-0,45%","0,00%",62,44228400,0,1,"2647,63",000,"0,00%","0,00%"
412,YCHY11,Híbrido,"1000,00","1,25%","0,00%",998,3708170000,0,10,"8157,50",6574,"0,81%","0,00%"
413,YUFI11,Residencial,8001,"3,95%","4,84%",79,39416900,919,28,"8707,28",88244,"10,13%","0,00%"
414,ZAVI11,Híbrido,12700,"5,77%","7,56%",93,117668000,150254,8,"2910,17",16312,"5,61%","1,10%"
415,ZIFI11,Híbrido,"1000,00","-1,72%","0,00%",83,47485000,3189,0,000,000,"0,00%","0,00%"

**Obs:** os valores numéricos no python usam o ponto como caractere de separação decimal, a próxima mudança será substituir a vírgula por ponto.

In [16]:
# Substituindo a vígula por ponto no dataset
dt_test.replace(',','.', regex=True, inplace=True)

## Outra forma de fazer ##
#dt_test = dt_test.apply(lambda x: x.str.replace(",",".") if x.dtype=="object" else x)

In [17]:
# Visualizando o dataset para verificar se o tratamento foi feito corretamente
dt_test

,papel,segmento,cotacao,ffo_yield,dividend_yield,p_sobre_vp,valor_de_mercado,liquidez,qtd_de_imoveis,preco_do_m2,aluguel_por_m2,cap_rate,vacancia_media
0,AAZQ11,Títulos e Val Mob,925,4.68%,8.93%,96,222345000,884924,0,000,000,0.00%,0.00%
1,ABCP11,Shoppings,7033,17.52%,7.81%,77,331190000,65740,1,4329.94,1068.00,24.67%,3.90%
2,AEFI11,Outros,17490,8.03%,0.00%,121,411893000,0,7,4272.21,34717,8.13%,0.00%
3,AFCR11,NaN,10315,18.21%,0.00%,99,186437000,0,0,000,000,0.00%,0.00%
4,AFHI11,Títulos e Val Mob,9801,10.89%,13.45%,102,295937000,816764,0,000,000,0.00%,0.00%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,XTED11,Lajes Corporativas,882,-0.45%,0.00%,62,44228400,0,1,2647.63,000,0.00%,0.00%
412,YCHY11,Híbrido,1000.00,1.25%,0.00%,998,3708170000,0,10,8157.50,6574,0.81%,0.00%
413,YUFI11,Residencial,8001,3.95%,4.84%,79,39416900,919,28,8707.28,88244,10.13%,0.00%
414,ZAVI11,Híbrido,12700,5.77%,7.56%,93,117668000,150254,8,2910.17,16312,5.61%,1.10%
415,ZIFI11,Híbrido,1000.00,-1.72%,0.00%,83,47485000,3189,0,000,000,0.00%,0.00%

In [18]:
# Visualizando os tipos de cada coluna do dataset
dt_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   papel             416 non-null    object
 1   segmento          412 non-null    object
 2   cotacao           416 non-null    object
 3   ffo_yield         416 non-null    object
 4   dividend_yield    416 non-null    object
 5   p_sobre_vp        416 non-null    int64
 6   valor_de_mercado  416 non-null    object
 7   liquidez          416 non-null    object
 8   qtd_de_imoveis    416 non-null    int64
 9   preco_do_m2       416 non-null    object
 10  aluguel_por_m2    416 non-null    object
 11  cap_rate          416 non-null    object
 12  vacancia_media    416 non-null    object
dtypes: int64(2), object(11)
memory usage: 42.4+ KB

**Obs:** realizando a tipagem correta das colunas

In [19]:
# Colunas numéricas
colunas_numericas = ["p_sobre_vp",
                    "valor_de_mercado",
                    "liquidez",
                    "qtd_de_imoveis",
                    "preco_do_m2",
                    "aluguel_por_m2"]  
for coluna in colunas_numericas:
    dt_test[coluna] = dt_test[coluna].astype(float) # Modificando o tipo da coluna


# Colunas percentuais
colunas_percentuais = ["ffo_yield",
                      "dividend_yield",
                      "cap_rate",
                      "vacancia_media"]

for coluna in colunas_percentuais:
    dt_test[coluna] = dt_test[coluna].str.replace("%","", regex=True).astype(float) # Removendo o % e transformando em número
    dt_test[coluna] = dt_test[coluna].apply(lambda x: x/100) # passando a porcentagem para a forma fracionária

In [20]:
# Visualizando o dataset para verificar se o tratamento foi feito corretamente
dt_test

,papel,segmento,cotacao,ffo_yield,dividend_yield,p_sobre_vp,valor_de_mercado,liquidez,qtd_de_imoveis,preco_do_m2,aluguel_por_m2,cap_rate,vacancia_media
0,AAZQ11,Títulos e Val Mob,925,0.0468,0.0893,96.0,2.223450e+08,884924.0,0.0,0.00,0.0,0.0000,0.000
1,ABCP11,Shoppings,7033,0.1752,0.0781,77.0,3.311900e+08,65740.0,1.0,4329.94,1068.0,0.2467,0.039
2,AEFI11,Outros,17490,0.0803,0.0000,121.0,4.118930e+08,0.0,7.0,4272.21,34717.0,0.0813,0.000
3,AFCR11,NaN,10315,0.1821,0.0000,99.0,1.864370e+08,0.0,0.0,0.00,0.0,0.0000,0.000
4,AFHI11,Títulos e Val Mob,9801,0.1089,0.1345,102.0,2.959370e+08,816764.0,0.0,0.00,0.0,0.0000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,XTED11,Lajes Corporativas,882,-0.0045,0.0000,62.0,4.422840e+07,0.0,1.0,2647.63,0.0,0.0000,0.000
412,YCHY11,Híbrido,1000.00,0.0125,0.0000,998.0,3.708170e+09,0.0,10.0,8157.50,6574.0,0.0081,0.000
413,YUFI11,Residencial,8001,0.0395,0.0484,79.0,3.941690e+07,919.0,28.0,8707.28,88244.0,0.1013,0.000
414,ZAVI11,Híbrido,12700,0.0577,0.0756,93.0,1.176680e+08,150254.0,8.0,2910.17,16312.0,0.0561,0.011
415,ZIFI11,Híbrido,1000.00,-0.0172,0.0000,83.0,4.748500e+07,3189.0,0.0,0.00,0.0,0.0000,0.000

In [21]:
# Visualizando os tipos de cada coluna do dataset
dt_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   papel             416 non-null    object
 1   segmento          412 non-null    object
 2   cotacao           416 non-null    object
 3   ffo_yield         416 non-null    float64
 4   dividend_yield    416 non-null    float64
 5   p_sobre_vp        416 non-null    float64
 6   valor_de_mercado  416 non-null    float64
 7   liquidez          416 non-null    float64
 8   qtd_de_imoveis    416 non-null    float64
 9   preco_do_m2       416 non-null    float64
 10  aluguel_por_m2    416 non-null    float64
 11  cap_rate          416 non-null    float64
 12  vacancia_media    416 non-null    float64
dtypes: float64(10), object(3)
memory usage: 42.4+ KB

In [22]:
# Modificando uma configuração do pandas para melhorar a visualização de valores muito grandes
pd.set_option('display.float_format', '{:.2f}'.format)

In [23]:
# Visualizando o dataset para verificar se o tratamento foi feito corretamente
dt_test

,papel,segmento,cotacao,ffo_yield,dividend_yield,p_sobre_vp,valor_de_mercado,liquidez,qtd_de_imoveis,preco_do_m2,aluguel_por_m2,cap_rate,vacancia_media
0,AAZQ11,Títulos e Val Mob,925,0.05,0.09,96.00,222345000.00,884924.00,0.00,0.00,0.00,0.00,0.00
1,ABCP11,Shoppings,7033,0.18,0.08,77.00,331190000.00,65740.00,1.00,4329.94,1068.00,0.25,0.04
2,AEFI11,Outros,17490,0.08,0.00,121.00,411893000.00,0.00,7.00,4272.21,34717.00,0.08,0.00
3,AFCR11,NaN,10315,0.18,0.00,99.00,186437000.00,0.00,0.00,0.00,0.00,0.00,0.00
4,AFHI11,Títulos e Val Mob,9801,0.11,0.13,102.00,295937000.00,816764.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,XTED11,Lajes Corporativas,882,-0.00,0.00,62.00,44228400.00,0.00,1.00,2647.63,0.00,0.00,0.00
412,YCHY11,Híbrido,1000.00,0.01,0.00,998.00,3708170000.00,0.00,10.00,8157.50,6574.00,0.01,0.00
413,YUFI11,Residencial,8001,0.04,0.05,79.00,39416900.00,919.00,28.00,8707.28,88244.00,0.10,0.00
414,ZAVI11,Híbrido,12700,0.06,0.08,93.00,117668000.00,150254.00,8.00,2910.17,16312.00,0.06,0.01
415,ZIFI11,Híbrido,1000.00,-0.02,0.00,83.00,47485000.00,3189.00,0.00,0.00,0.00,0.00,0.00

**Obs:** agora tratando os casos especiais, ou seja, valores do tipo NaN que como estão na coluna textual podemos substituir por Desconhecido e a Coluna cotação que exigem um tratamento especifíco

In [24]:
# Tratando os dados do tipo NaN para um valor conhecido
dt_test.segmento = dt_test.segmento.fillna('Desconhecido')

In [25]:
# Tratando a coluna de cotação

# Quando foi feita a raspagem de dados alguns valores perderam seu separador de casa decimal e outros não
# Removendo os pontos para o tratamento geral
dt_test.cotacao = dt_test.cotacao.str.replace(".","", regex=True)

# Sabemos que todos os preços possuem duas casas décimais, logo, podemos fazer o tratamento tendo isso em mente
dt_test.cotacao = dt_test.cotacao.astype(float).apply(lambda x: x/100) # Divindindo todos os valores por 100, garantido duas casas decimais e modificando o tipo para numérico

In [26]:
dt_test# Visualizando o dataset para verificar se o tratamento foi feito corretamente
dt_test

,papel,segmento,cotacao,ffo_yield,dividend_yield,p_sobre_vp,valor_de_mercado,liquidez,qtd_de_imoveis,preco_do_m2,aluguel_por_m2,cap_rate,vacancia_media
0,AAZQ11,Títulos e Val Mob,9.25,0.05,0.09,96.00,222345000.00,884924.00,0.00,0.00,0.00,0.00,0.00
1,ABCP11,Shoppings,70.33,0.18,0.08,77.00,331190000.00,65740.00,1.00,4329.94,1068.00,0.25,0.04
2,AEFI11,Outros,174.90,0.08,0.00,121.00,411893000.00,0.00,7.00,4272.21,34717.00,0.08,0.00
3,AFCR11,Desconhecido,103.15,0.18,0.00,99.00,186437000.00,0.00,0.00,0.00,0.00,0.00,0.00
4,AFHI11,Títulos e Val Mob,98.01,0.11,0.13,102.00,295937000.00,816764.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,XTED11,Lajes Corporativas,8.82,-0.00,0.00,62.00,44228400.00,0.00,1.00,2647.63,0.00,0.00,0.00
412,YCHY11,Híbrido,1000.00,0.01,0.00,998.00,3708170000.00,0.00,10.00,8157.50,6574.00,0.01,0.00
413,YUFI11,Residencial,80.01,0.04,0.05,79.00,39416900.00,919.00,28.00,8707.28,88244.00,0.10,0.00
414,ZAVI11,Híbrido,127.00,0.06,0.08,93.00,117668000.00,150254.00,8.00,2910.17,16312.00,0.06,0.01
415,ZIFI11,Híbrido,1000.00,-0.02,0.00,83.00,47485000.00,3189.00,0.00,0.00,0.00,0.00,0.00

Como os dados variam diariamente é preciso achar uma forma coerente de salvá-los

In [27]:
# Resgatando a data do sistema para salvar com sua data respectiva de tratamento


dia_de_raspagem = datetime.datetime.now().date() # puxando as datas
dia_de_raspagem = dia_de_raspagem.strftime("_%d_%m_%Y") # definindo o formatado da data
dt_test.to_csv(f"planilhas_fundamentus_fii/teste{dia_de_raspagem}.csv", index=False) # exportando como arquivo csv

# Etapa 3: Exploração de Algoritmos de Aprendizado de Máquina

# Etapada 4: Avaliação e Interpretação dos Resultados