<center><b>UNIVERSIDADE FEDERAL RURAL DO SEMI-ÁRIDO</b> </center>
<center><b>Inteligência Artificial</b></center>


<h3><center>Implementação de algoritmos de aprendizado de máquina para análise de
padrões em ações do mercado Financeiro</center></h3>


<div style="text-align: right;">Anderson Carlos da Silva Morais</div>
<div style="text-align: right;">Anderson Matheus Melo da Silva</div>



<center><b>Proposta</b></center>
<b>Introdução:</b> Nos últimos anos, temos presenciado a popularização e disseminação da inteligência
artificial e dos algoritmos de aprendizado de máquina em várias áreas. Um campo que tem se
beneficiado dessas tecnologias é o mercado financeiro, onde o uso desses algoritmos para análise de
ações tem se tornado uma prática comum. No entanto, é importante destacar que a promessa de
retornos financeiros milagrosos e a venda de produtos e softwares enganosos têm gerado
desconfiança nesse cenário.

<b>Objetivo:</b> O objetivo deste projeto é explorar o uso de algoritmos de aprendizado de máquina para
análise de padrões no mercado financeiro de forma ética e didática. O projeto busca fornecer um
ambiente de estudo no qual será possível entender e aplicar diferentes algoritmos de ML em um
contexto real, utilizando um conjunto de dados definido de ações.
Metodologia:
1. <b>Coleta de Dados:</b> Será realizado um levantamento de dados históricos de ações de
empresas, utilizando fontes confiáveis e de acesso público. Os dados incluirão informações
como preço de abertura, preço de fechamento, volume de negociação, entre outros
indicadores relevantes.
2. <b>Pré-processamento dos Dados:</b> Os dados coletados passarão por um processo de limpeza e
transformação, a fim de remover ruídos e garantir a qualidade dos dados. Serão aplicadas
técnicas de normalização e tratamento de valores ausentes, quando necessário.
3. <b>Exploração de Algoritmos de Aprendizado de Máquina:</b> Serão utilizados diferentes
algoritmos de aprendizado de máquina, como regressão linear, árvores de decisão, redes
neurais, entre outros, para analisar os dados coletados. Cada algoritmo será aplicado e
avaliado em termos de desempenho na identificação de padrões relevantes no mercado
financeiro.
4. <b>Avaliação e Interpretação dos Resultados:</b> Os resultados obtidos serão analisados e
interpretados de forma a identificar padrões e tendências no mercado financeiro. Serão
realizadas métricas de desempenho para avaliar a eficácia dos algoritmos utilizados. É
importante ressaltar que este projeto não tem como objetivo fornecer recomendações de
compra ou venda de ações, mas sim estudar os conceitos de ML em um contexto real.

<b>Justificativa:</b> Este projeto visa explorar o uso de algoritmos de aprendizado de máquina para análise
de padrões no mercado financeiro. A proposta é utilizar um conjunto de dados definido de ações
para aplicar diferentes algoritmos e entender seu desempenho na identificação de padrões
relevantes. Ao final do projeto, espera-se obter um maior entendimento sobre o uso de ML no
mercado financeiro, contribuindo para o avanço do conhecimento nessa área.

<b>Observação:</b> É importante ressaltar que este projeto destina-se apenas ao estudo e compreensão dos
conceitos de aprendizado de máquina em um contexto real. Não deve ser interpretado como
recomendação de compra ou venda de ações. Sempre consulte profissionais especializados antes de
tomar decisões financeiras.

# Etapa 1: Coleta de Dados

In [1]:
# Realizando as importações das bibliotecas necessárias
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from urllib.request import urlopen, urlretrieve, Request
from urllib.error import URLError, HTTPError
import requests
import openpyxl

A fonte de dados abordada para o projeto será a da [Fundamentus](https://www.fundamentus.com.br/fii_resultado.php), contudo será apresentado outros links que podem ser usados por futuros projetos.

In [2]:
# headers 
headers ={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x65; rv:66.0) Gecko/20100101 Firefox/66.0",
          "Accept-Enconding":"gzip, deflate",
          "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
          "DNT":"1", "Connection":"Close", "Upgrade-Insecure-Request":"1"}

# Outros Sites para raspagens de dados futuras
url = "https://www.fundamentus.com.br/fii_resultado.php"
url2 = "https://www.fundsexplorer.com.br/ranking"
url3 = "https://www.clubefii.com.br/fundos-imobiliarios/39950/IFIX"
url4 = "https://fiis.com.br/resumo/"

urls = [url, url2, url3, url4]

In [379]:
import cfscrape
from bs4 import BeautifulSoup as bs

headers ={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36"}

url = "https://www.fundamentus.com.br/fii_resultado.php"

In [380]:
scraper = cfscrape.create_scraper()
response = scraper.get(url)

print(response)

<Response [200]>

In [381]:
response.content

b''

In [382]:
n = soup.find("table")

In [383]:
soup = bs(response.content, "html.parser")
soup

In [12]:
n = soup.find("table")

In [51]:
type(response.content)

bytes

In [14]:
import pandas as pd

In [52]:
# Gera uma lista com um dataset dentro
# dt= pd.read_html(response.content)

# Assim, para acessar o dataframe:
# dt[0]

In [57]:
# Gera uma lista com um dataset, logo, acessando o dataset tiretamente
dt= pd.read_html(response.content)[0]
dt

,Papel,Segmento,Cotação,FFO Yield,Dividend Yield,P/VP,Valor de Mercado,Liquidez,Qtd de imóveis,Preço do m2,Aluguel por m2,Cap Rate,Vacância Média
0,AAZQ11,Títulos e Val. Mob.,928,"4,67%","8,90%",96,223.066.000,862.339,0,000,000,"0,00%","0,00%"
1,ABCP11,Shoppings,7056,"17,47%","7,79%",77,332.273.000,65.134,1,"4.344,10","1.068,00","24,59%","3,90%"
2,AEFI11,Outros,17490,"8,03%","0,00%",121,411.893.000,0,7,"4.272,21",34717,"8,13%","0,00%"
3,AFCR11,NaN,10315,"18,21%","0,00%",99,186.437.000,0,0,000,000,"0,00%","0,00%"
4,AFHI11,Títulos e Val. Mob.,9801,"10,89%","13,45%",102,295.937.000,816.916,0,000,000,"0,00%","0,00%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,XTED11,Lajes Corporativas,882,"-0,45%","0,00%",62,44.228.400,0,1,"2.647,63",000,"0,00%","0,00%"
411,YCHY11,Híbrido,"1.000,00","1,25%","0,00%",998,3.708.170.000,0,10,"8.157,50",6574,"0,81%","0,00%"
412,YUFI11,Residencial,8001,"3,95%","4,84%",79,39.416.900,919,28,"8.707,28",88244,"10,13%","0,00%"
413,ZAVI11,Híbrido,12695,"5,77%","7,56%",93,117.621.000,148.839,8,"2.909,03",16312,"5,61%","1,10%"
414,ZIFI11,Híbrido,"1.000,00","-1,72%","0,00%",83,47.485.000,3.212,0,000,000,"0,00%","0,00%"

In [335]:
# Criando um dataframe teste para o tratamento de dados
dt_test = dt.copy()

In [336]:
# Informações do dataset
dt_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Papel             415 non-null    object
 1   Segmento          411 non-null    object
 2   Cotação           415 non-null    object
 3   FFO Yield         415 non-null    object
 4   Dividend Yield    415 non-null    object
 5   P/VP              415 non-null    int64
 6   Valor de Mercado  415 non-null    object
 7   Liquidez          415 non-null    object
 8   Qtd de imóveis    415 non-null    int64
 9   Preço do m2       415 non-null    object
 10  Aluguel por m2    415 non-null    object
 11  Cap Rate          415 non-null    object
 12  Vacância Média    415 non-null    object
dtypes: int64(2), object(11)
memory usage: 42.3+ KB

In [337]:
# Visualizando o nome das colunas
dt_test.columns

Index(['Papel', 'Segmento', 'Cotação', 'FFO Yield', 'Dividend Yield', 'P/VP',
       'Valor de Mercado', 'Liquidez', 'Qtd de imóveis', 'Preço do m2',
       'Aluguel por m2', 'Cap Rate', 'Vacância Média'],
      dtype='object')

In [338]:
# Salvando os antigos nomes das colunas para um uso futuro
colunas_ant = dt_test.columns

# Modificando os nomes das colunas para um padrão para se trabalhar
import unidecode

colunas = []
for nome in dt_test.columns:
    text = nome.strip().replace(' ','_').lower().replace('/','_sobre_')
    text = unidecode.unidecode(text)
    colunas.append(text)
    
    
colunas

['papel',
 'segmento',
 'cotacao',
 'ffo_yield',
 'dividend_yield',
 'p_sobre_vp',
 'valor_de_mercado',
 'liquidez',
 'qtd_de_imoveis',
 'preco_do_m2',
 'aluguel_por_m2',
 'cap_rate',
 'vacancia_media']

In [339]:
# Atribuindo as colunas
dt_test.columns = colunas

In [340]:
dt_test

,papel,segmento,cotacao,ffo_yield,dividend_yield,p_sobre_vp,valor_de_mercado,liquidez,qtd_de_imoveis,preco_do_m2,aluguel_por_m2,cap_rate,vacancia_media
0,AAZQ11,Títulos e Val. Mob.,928,"4,67%","8,90%",96,223.066.000,862.339,0,000,000,"0,00%","0,00%"
1,ABCP11,Shoppings,7056,"17,47%","7,79%",77,332.273.000,65.134,1,"4.344,10","1.068,00","24,59%","3,90%"
2,AEFI11,Outros,17490,"8,03%","0,00%",121,411.893.000,0,7,"4.272,21",34717,"8,13%","0,00%"
3,AFCR11,NaN,10315,"18,21%","0,00%",99,186.437.000,0,0,000,000,"0,00%","0,00%"
4,AFHI11,Títulos e Val. Mob.,9801,"10,89%","13,45%",102,295.937.000,816.916,0,000,000,"0,00%","0,00%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,XTED11,Lajes Corporativas,882,"-0,45%","0,00%",62,44.228.400,0,1,"2.647,63",000,"0,00%","0,00%"
411,YCHY11,Híbrido,"1.000,00","1,25%","0,00%",998,3.708.170.000,0,10,"8.157,50",6574,"0,81%","0,00%"
412,YUFI11,Residencial,8001,"3,95%","4,84%",79,39.416.900,919,28,"8.707,28",88244,"10,13%","0,00%"
413,ZAVI11,Híbrido,12695,"5,77%","7,56%",93,117.621.000,148.839,8,"2.909,03",16312,"5,61%","1,10%"
414,ZIFI11,Híbrido,"1.000,00","-1,72%","0,00%",83,47.485.000,3.212,0,000,000,"0,00%","0,00%"

## Tratamento dos dados

In [341]:
# Removendo o ponto do Dataframe( Cuidado para não rodar mais de uma vez)
dt_test = dt_test.apply(lambda x: x.str.replace(".",'', regex=True) if x.dtype=="object" else x)

# Não funciona
# dt_test.replace(',','.', regex=True, inplace=True)

In [342]:
dt_test

,papel,segmento,cotacao,ffo_yield,dividend_yield,p_sobre_vp,valor_de_mercado,liquidez,qtd_de_imoveis,preco_do_m2,aluguel_por_m2,cap_rate,vacancia_media
0,AAZQ11,Títulos e Val Mob,928,"4,67%","8,90%",96,223066000,862339,0,000,000,"0,00%","0,00%"
1,ABCP11,Shoppings,7056,"17,47%","7,79%",77,332273000,65134,1,"4344,10","1068,00","24,59%","3,90%"
2,AEFI11,Outros,17490,"8,03%","0,00%",121,411893000,0,7,"4272,21",34717,"8,13%","0,00%"
3,AFCR11,NaN,10315,"18,21%","0,00%",99,186437000,0,0,000,000,"0,00%","0,00%"
4,AFHI11,Títulos e Val Mob,9801,"10,89%","13,45%",102,295937000,816916,0,000,000,"0,00%","0,00%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,XTED11,Lajes Corporativas,882,"-0,45%","0,00%",62,44228400,0,1,"2647,63",000,"0,00%","0,00%"
411,YCHY11,Híbrido,"1000,00","1,25%","0,00%",998,3708170000,0,10,"8157,50",6574,"0,81%","0,00%"
412,YUFI11,Residencial,8001,"3,95%","4,84%",79,39416900,919,28,"8707,28",88244,"10,13%","0,00%"
413,ZAVI11,Híbrido,12695,"5,77%","7,56%",93,117621000,148839,8,"2909,03",16312,"5,61%","1,10%"
414,ZIFI11,Híbrido,"1000,00","-1,72%","0,00%",83,47485000,3212,0,000,000,"0,00%","0,00%"

In [343]:
# Substituindo a vígula por ponto no dataframe
dt_test.replace(',','.', regex=True, inplace=True)

# Também funciona
#dt_test = dt_test.apply(lambda x: x.str.replace(",",".") if x.dtype=="object" else x)

In [344]:
# Visualizando o dataset
dt_test

,papel,segmento,cotacao,ffo_yield,dividend_yield,p_sobre_vp,valor_de_mercado,liquidez,qtd_de_imoveis,preco_do_m2,aluguel_por_m2,cap_rate,vacancia_media
0,AAZQ11,Títulos e Val Mob,928,4.67%,8.90%,96,223066000,862339,0,000,000,0.00%,0.00%
1,ABCP11,Shoppings,7056,17.47%,7.79%,77,332273000,65134,1,4344.10,1068.00,24.59%,3.90%
2,AEFI11,Outros,17490,8.03%,0.00%,121,411893000,0,7,4272.21,34717,8.13%,0.00%
3,AFCR11,NaN,10315,18.21%,0.00%,99,186437000,0,0,000,000,0.00%,0.00%
4,AFHI11,Títulos e Val Mob,9801,10.89%,13.45%,102,295937000,816916,0,000,000,0.00%,0.00%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,XTED11,Lajes Corporativas,882,-0.45%,0.00%,62,44228400,0,1,2647.63,000,0.00%,0.00%
411,YCHY11,Híbrido,1000.00,1.25%,0.00%,998,3708170000,0,10,8157.50,6574,0.81%,0.00%
412,YUFI11,Residencial,8001,3.95%,4.84%,79,39416900,919,28,8707.28,88244,10.13%,0.00%
413,ZAVI11,Híbrido,12695,5.77%,7.56%,93,117621000,148839,8,2909.03,16312,5.61%,1.10%
414,ZIFI11,Híbrido,1000.00,-1.72%,0.00%,83,47485000,3212,0,000,000,0.00%,0.00%

In [345]:
# Código executado apenas uma vez!
# Colunas de texto
colunas_textuais = [dt_test["papel"],
                   dt_test["segmento"]
                   ]

# Colunas numéricas
colunas_numericas = ["p_sobre_vp",
                    "valor_de_mercado",
                    "liquidez",
                    "qtd_de_imoveis",
                    "preco_do_m2",
                    "aluguel_por_m2"]  
for coluna in colunas_numericas:
    dt_test[coluna] = dt_test[coluna].astype(float)


# Colunas percentuais
colunas_percentuais = ["ffo_yield",
                      "dividend_yield",
                      "cap_rate",
                      "vacancia_media"]

for coluna in colunas_percentuais:
    dt_test[coluna] = dt_test[coluna].str.replace("%","", regex=True).astype(float)
    dt_test[coluna] = dt_test[coluna].apply(lambda x: x/100)

# Caso especial
# dt_test["cotacao"]

In [346]:
dt_test

,papel,segmento,cotacao,ffo_yield,dividend_yield,p_sobre_vp,valor_de_mercado,liquidez,qtd_de_imoveis,preco_do_m2,aluguel_por_m2,cap_rate,vacancia_media
0,AAZQ11,Títulos e Val Mob,928,0.05,0.09,96.00,223066000.00,862339.00,0.00,0.00,0.00,0.00,0.00
1,ABCP11,Shoppings,7056,0.17,0.08,77.00,332273000.00,65134.00,1.00,4344.10,1068.00,0.25,0.04
2,AEFI11,Outros,17490,0.08,0.00,121.00,411893000.00,0.00,7.00,4272.21,34717.00,0.08,0.00
3,AFCR11,NaN,10315,0.18,0.00,99.00,186437000.00,0.00,0.00,0.00,0.00,0.00,0.00
4,AFHI11,Títulos e Val Mob,9801,0.11,0.13,102.00,295937000.00,816916.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,XTED11,Lajes Corporativas,882,-0.00,0.00,62.00,44228400.00,0.00,1.00,2647.63,0.00,0.00,0.00
411,YCHY11,Híbrido,1000.00,0.01,0.00,998.00,3708170000.00,0.00,10.00,8157.50,6574.00,0.01,0.00
412,YUFI11,Residencial,8001,0.04,0.05,79.00,39416900.00,919.00,28.00,8707.28,88244.00,0.10,0.00
413,ZAVI11,Híbrido,12695,0.06,0.08,93.00,117621000.00,148839.00,8.00,2909.03,16312.00,0.06,0.01
414,ZIFI11,Híbrido,1000.00,-0.02,0.00,83.00,47485000.00,3212.00,0.00,0.00,0.00,0.00,0.00

In [347]:
dt_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   papel             415 non-null    object
 1   segmento          411 non-null    object
 2   cotacao           415 non-null    object
 3   ffo_yield         415 non-null    float64
 4   dividend_yield    415 non-null    float64
 5   p_sobre_vp        415 non-null    float64
 6   valor_de_mercado  415 non-null    float64
 7   liquidez          415 non-null    float64
 8   qtd_de_imoveis    415 non-null    float64
 9   preco_do_m2       415 non-null    float64
 10  aluguel_por_m2    415 non-null    float64
 11  cap_rate          415 non-null    float64
 12  vacancia_media    415 non-null    float64
dtypes: float64(10), object(3)
memory usage: 42.3+ KB

In [348]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [349]:
dt_test

,papel,segmento,cotacao,ffo_yield,dividend_yield,p_sobre_vp,valor_de_mercado,liquidez,qtd_de_imoveis,preco_do_m2,aluguel_por_m2,cap_rate,vacancia_media
0,AAZQ11,Títulos e Val Mob,928,0.05,0.09,96.00,223066000.00,862339.00,0.00,0.00,0.00,0.00,0.00
1,ABCP11,Shoppings,7056,0.17,0.08,77.00,332273000.00,65134.00,1.00,4344.10,1068.00,0.25,0.04
2,AEFI11,Outros,17490,0.08,0.00,121.00,411893000.00,0.00,7.00,4272.21,34717.00,0.08,0.00
3,AFCR11,NaN,10315,0.18,0.00,99.00,186437000.00,0.00,0.00,0.00,0.00,0.00,0.00
4,AFHI11,Títulos e Val Mob,9801,0.11,0.13,102.00,295937000.00,816916.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,XTED11,Lajes Corporativas,882,-0.00,0.00,62.00,44228400.00,0.00,1.00,2647.63,0.00,0.00,0.00
411,YCHY11,Híbrido,1000.00,0.01,0.00,998.00,3708170000.00,0.00,10.00,8157.50,6574.00,0.01,0.00
412,YUFI11,Residencial,8001,0.04,0.05,79.00,39416900.00,919.00,28.00,8707.28,88244.00,0.10,0.00
413,ZAVI11,Híbrido,12695,0.06,0.08,93.00,117621000.00,148839.00,8.00,2909.03,16312.00,0.06,0.01
414,ZIFI11,Híbrido,1000.00,-0.02,0.00,83.00,47485000.00,3212.00,0.00,0.00,0.00,0.00,0.00

In [350]:
dt_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   papel             415 non-null    object
 1   segmento          411 non-null    object
 2   cotacao           415 non-null    object
 3   ffo_yield         415 non-null    float64
 4   dividend_yield    415 non-null    float64
 5   p_sobre_vp        415 non-null    float64
 6   valor_de_mercado  415 non-null    float64
 7   liquidez          415 non-null    float64
 8   qtd_de_imoveis    415 non-null    float64
 9   preco_do_m2       415 non-null    float64
 10  aluguel_por_m2    415 non-null    float64
 11  cap_rate          415 non-null    float64
 12  vacancia_media    415 non-null    float64
dtypes: float64(10), object(3)
memory usage: 42.3+ KB

In [351]:
# Tratando os danos NaN para um valor conhecido
dt_test.segmento = dt_test.segmento.fillna('Desconhecido')

In [352]:
# Tratando a coluna de cotação
# Quando foi feita a raspagem de dados muitos valors perderam seu separador de casa decimal
# Contudo, sabemos que todos os preços possuiam duas casas décimais, logo, podemos fazer o devido tratamento para essa coluna

# Removendo os pontos para o tratamento geral
dt_test.cotacao = dt_test.cotacao.str.replace(".","", regex=True)

# Aplicando o tratamento
dt_test.cotacao = dt_test.cotacao.astype(float).apply(lambda x: x/100)

In [353]:
dt_test

,papel,segmento,cotacao,ffo_yield,dividend_yield,p_sobre_vp,valor_de_mercado,liquidez,qtd_de_imoveis,preco_do_m2,aluguel_por_m2,cap_rate,vacancia_media
0,AAZQ11,Títulos e Val Mob,9.28,0.05,0.09,96.00,223066000.00,862339.00,0.00,0.00,0.00,0.00,0.00
1,ABCP11,Shoppings,70.56,0.17,0.08,77.00,332273000.00,65134.00,1.00,4344.10,1068.00,0.25,0.04
2,AEFI11,Outros,174.90,0.08,0.00,121.00,411893000.00,0.00,7.00,4272.21,34717.00,0.08,0.00
3,AFCR11,Desconhecido,103.15,0.18,0.00,99.00,186437000.00,0.00,0.00,0.00,0.00,0.00,0.00
4,AFHI11,Títulos e Val Mob,98.01,0.11,0.13,102.00,295937000.00,816916.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,XTED11,Lajes Corporativas,8.82,-0.00,0.00,62.00,44228400.00,0.00,1.00,2647.63,0.00,0.00,0.00
411,YCHY11,Híbrido,1000.00,0.01,0.00,998.00,3708170000.00,0.00,10.00,8157.50,6574.00,0.01,0.00
412,YUFI11,Residencial,80.01,0.04,0.05,79.00,39416900.00,919.00,28.00,8707.28,88244.00,0.10,0.00
413,ZAVI11,Híbrido,126.95,0.06,0.08,93.00,117621000.00,148839.00,8.00,2909.03,16312.00,0.06,0.01
414,ZIFI11,Híbrido,1000.00,-0.02,0.00,83.00,47485000.00,3212.00,0.00,0.00,0.00,0.00,0.00

In [377]:

import datetime

dia_de_raspagem = datetime.datetime.now().date()
dia_de_raspagem = dia_de_raspagem.strftime("_%d_%m_%Y")
dt_test.to_csv(f"teste{dia_de_raspagem}.csv", index=False)

# Etapa 2: Pré-processamento dos Dados

# Etapa 3: Exploração de Algoritmos de Aprendizado de Máquina

# Etapada 4: Avaliação e Interpretação dos Resultados